<div class="container center">
  <h1><%= current_user.name %>'s' Dashboard</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <ul>
      <img class="center-block">
        <%= image_tag current_user.image, class: "gravatar" %>
      </img>
      <h3><%= current_user.name %></h3>
      <h4><%= current_user.nickname %></h4>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <h3><%= @starred.count %> Starred Repos</h3>
    <ul>
      <% @starred.each do |star| %>
        <li><%= link_to star["name"], "https://github.com/#{star['owner']['login']}/#{star['name']}" %></li>Created By: <%= star["owner"]['login'] %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-2">
    <h3><%= @followers.count %> total followers</h3>
    <ul>
      <% @followers.each do |follower| %>
        <li><%= link_to follower["login"], "https://github.com/#{follower["login"]}" %> </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-2">
    <h3><%= @followings.count %> you are following</h3>
    <ul>
      <% @followings.each do |following| %>
        <li><%= link_to following["login"], "https://github.com/#{following["login"]}" %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <h3>Contributions</h3>
    <%= @contributions %>
  </div>

  <div class="col-md-2">
    <h3>Longest Streak</h3>
    <%= @longest_streak %>
  </div>

  <div class="col-md-2">
    <h3>Current Streak</h3>
    <%= @current_streak %>
  </div>
</div>

<h3>My Organizations</h3>
<ul>
  <% @organizations.each do |org| %>
    <li><%= org["login"] %></li>
  <% end %>
</ul>

<h3>My Recent Commits</h3>
<ul>
  <% @commits.each do |commit| %>
    <li><%= commit %></li>
  <% end %>
</ul>

<h3>My Repositories</h3>
<ul>
  <% @repositories.each do |repository| %>
    <li><%= repository["name"] %></li>
  <% end %>
</ul>

<h3>My Followers and their Activity</h3>
<% @following_activity.each do |messages| %>
  <%= messages[:nickname] %>
  <ul>
    <li><% messages[:commits].each do |message|%>
          <%= message %>
    <% end %></li>
  </ul>
<% end %>
